* {
    border: none;
    border-radius: 0;
    font-family: "Monospace";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: #00ff00;
}

#custom-system {
    padding: 0 10px;
    font-weight: bold;
}